Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system.

SQL vs. NoSQL:

SQL Databases:

Structure: Relational Databases (RDBMS).
Schema: Predefined schema, tables with rows and columns.
Scalability: Vertically scalable.
Transactions: ACID-compliant (Atomicity, Consistency, Isolation, Durability).
Examples: MySQL, PostgreSQL, SQLite, Oracle Database.

NoSQL Databases:

Structure: Non-relational or distributed databases.
Schema: Dynamic schema for unstructured data.
Scalability: Horizontally scalable.
Transactions: Generally, not ACID-compliant but BASE (Basically Available, Soft state, Eventual consistency).
Examples: MongoDB, Cassandra, Redis, Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language):
DDL commands are used to define and modify the database structure, such as tables, schemas, and indexes.

CREATE: Used to create a new table or database.

CREATE TABLE Students (
    ID int NOT NULL,
    Name varchar(255) NOT NULL,
    Age int,
    PRIMARY KEY (ID)
);

DROP: Used to delete an existing table or database.

DROP TABLE Students;

ALTER: Used to modify an existing database object, such as a table.

ALTER TABLE Students
ADD Email varchar(255);

TRUNCATE: Used to remove all records from a table, but not the table itself.

TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML (Data Manipulation Language):
DML commands are used for managing data within schema objects.

INSERT: Used to add new records to a table.

INSERT INTO Students (ID, Name, Age)
VALUES (1, 'John Doe', 22);

UPDATE: Used to modify existing records in a table.

UPDATE Students
SET Age = 23
WHERE ID = 1;

DELETE: Used to remove existing records from a table.

DELETE FROM Students
WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language):
DQL commands are used to query the database to get the required information from one or more tables.

SELECT: Used to fetch data from a database.

SELECT Name, Age FROM Students
WHERE Age > 20;

Q5. Explain Primary Key and Foreign Key.
Primary Key: A primary key is a field (or combination of fields) in a table that uniquely identifies each row/record in that table.


CREATE TABLE Students (
    ID int NOT NULL,
    Name varchar(255) NOT NULL,
    Age int,
    PRIMARY KEY (ID)
);

Foreign Key: A foreign key is a field (or combination of fields) in one table that uniquely identifies a row of another table or the same table. The foreign key is defined in a second table, but it refers to the primary key or a unique key in the first table.


CREATE TABLE Orders (
    OrderID int NOT NULL,
    OrderNumber int NOT NULL,
    StudentID int,
    PRIMARY KEY (OrderID),
    FOREIGN KEY (StudentID) REFERENCES Students(ID)
);

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.
To connect to MySQL in Python, we can use the mysql-connector-python library.

import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a query
cursor.execute("SELECT * FROM Students")

# Fetching the results
results = cursor.fetchall()

for row in results:
    print(row)

# Closing the connection
conn.close()
cursor(): The cursor() method creates a cursor object which is used to interact with the database by executing SQL queries and fetching the results.
execute(): The execute() method of the cursor object is used to execute a SQL query.


Q7. Give the order of execution of SQL clauses in an SQL query.
The order of execution of SQL clauses in a query is as follows:

FROM: Determines the source of the data.
JOIN: Joins tables to combine data.
WHERE: Filters rows based on specified conditions.
GROUP BY: Groups rows that have the same values in specified columns into summary rows.
HAVING: Filters groups based on specified conditions.
SELECT: Selects columns to be included in the result set.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set.
LIMIT/OFFSET: Limits the number of rows returned and specifies an offset of rows to skip.
Example Jupyter Notebook

Below is how your Jupyter notebook should look like:


# Q1. SQL vs NoSQL
# Explanation of SQL and NoSQL

# Q2. DDL Example
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE Students (
    ID int NOT NULL,
    Name varchar(255) NOT NULL,
    Age int,
    PRIMARY KEY (ID)
);
""")
conn.close()

# Q3. DML Example
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

cursor = conn.cursor()
cursor.execute("INSERT INTO Students (ID, Name, Age) VALUES (1, 'John Doe', 22);")
conn.commit()
conn.close()

# Q4. DQL Example
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

cursor = conn.cursor()
cursor.execute("SELECT Name, Age FROM Students WHERE Age > 20;")
results = cursor.fetchall()
for row in results:
    print(row)
conn.close()

# Q5. Primary Key and Foreign Key
# Explanation with SQL code

# Q6. Python MySQL Connection
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

cursor = conn.cursor()
cursor.execute("SELECT * FROM Students")
results = cursor.fetchall()
for row in results:
    print(row)
conn.close()

# Q7. Order of Execution of SQL Clauses
# Explanation of the order